<% content_for :title, "Login" %>
<% content_for :stylesheet, (stylesheet_link_tag "login") %>


<% if flash[:notice] %>
	<p class = "flash"><%= flash[:notice] %></p>
<% end %>

<%= form_tag("post_login", :method => "post") do %>
	<div> 
    <p>Username:</p> 
    <%= text_field_tag :name%>
    <br></br> 
    <p>Password:</p> 
    <%= password_field_tag :password%>
    <br></br> 
 	<%= submit_tag "Login" %>
 	</div> 
<% end %>